fastapi
uvicorn[standard]
websockets
langchain
langchain-anthropic
langgraph
sqlalchemy
librosa
pydantic
aiohttp
openai
pandas
sentence-transformers
pymilvus==3.0.0
torch
pymongo
rank-bm25
redis
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
python-multipart